
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <script src='@Url.Content("~/Scripts/jquery-1.9.0.js")'></script>
    <script src='@Url.Content("~/Content/jquery-easyui-1.4.2/jquery.easyui.min.js")'></script>

    <script src="~/Scripts/Common.js"></script>
    @*<link href='@Url.Content("~/Content/jquery-easyui-1.4.2/themes/default/easyui.css")' rel="stylesheet"/>*@
    <link href='@Url.Content("~/Content/jquery-easyui-1.4.2/themes/bootstrap/easyui.css")' rel="stylesheet" />
    <link href='@Url.Content("~/Content/jquery-easyui-1.4.2/themes/icon.css")' rel="stylesheet" />
    <link href='@Url.Content("~/Content/Kasar/css/KasarStyle.css")' rel="stylesheet" />

</head>
<body>


    <script>
        $(function () {
            //表格的初始化
            $("#hotelTb").datagrid({
                url: '@Url.Action("GetOrderByMemberId","Weixin")',
                height: $(window).height() - 20,
                width: $(window).width(),
                title: "订单查询",
                pagination: true,
                autoRowHeight: false,
                loadMsg: "正在加载数据.....",
                fit: true,
                idField: 'RoleId',
                singleSelect: true,

                rownumbers: true,
                fitcolumns: true,
                columns: [
                    [
                        { align: 'center', field: 'ID', title: ' ', width: 100, hidden: true },
                        { align: 'center', field: 'RoomDesc', title: '房间类型', width: 100 },
                        { align: 'center', field: 'RoomePrice', title: '房间价格', width: 100 },
                        { align: 'center', field: 'MemberId', title: '会员编号', width: 100 },
                        { align: 'center', field: 'MemberName', title: '会员昵称', width: 100 },
                        { align: 'center', field: 'CreateDate', title: '添加时间', width: 100 },
                    {
                        align: 'center', field: 'OrderDetailStatus', title: '订单状态', width: 100, formatter: function (v) {
                           if (v === "1001") {
                               return "未支付";
                           }
                           if (v === "1002") {
                               return "已支付";
                           }
                           if (v === "1003") {
                               return "已废弃";
                           }
                        }
                    }


                    ]
                ]
            });


        });

        //重新加载当前的表格
        function ReloadGrid() {
            $("#hotelTb").datagrid("reload");
        }
    </script>



    <table id="hotelTb"></table>
    <div id="win"></div>

</body>
